html, body, input, select, textarea {
	font-size: 1.05em !important;
}
  body { height: 100%; width:100%;margin: 0px; padding: 0px }
  /*#map_canvas { height: 100% }*/
#map-canvas {
	width: 800px;
	height: 500px;
	/*background-color: blue;*/
	padding-bottom: 2em;
}