html, body, input, select, textarea {
	font-size: 1.05em !important;
}

body {
	/*background-image: url('../imgs/sunny-sunset.jpg');*/
	background-size: cover;
	background-repeat: none;
}
#map-canvas {
	height: 22em;
	width: 40em;
	border: 2px solid white;	
	margin-bottom: 3em;
}
#heading {
	background-color: rgba(255, 255, 249, 0.45);
	border: none;
}

#heading a {
	color: white;
	font-size: 1.25em;
}

#heading a:hover {
	color: rgb(40, 40, 40); 
}
.forecast.temp {
	background-color: white;
}
.left {
	float: left;
}

.right {
	float: right;
}

.left.temp {
	font-size: 3.5em;
	margin-left: .5em;
	margin-right: 1em;
	color: (0, 0, 0, 0.25) !important;
}
.left.temp span {
	color: rgba(32, 203, 255, 0.42);
}
#sub {
	font-size: .2em;
	margin-top: -.7em;
	color: rgb(255, 72, 97);
}
.caption h3 {
	font-size: 2.5em;
	color: rgba(32, 203, 255, 0.42);
}
.caption h3 p {
	font-size: .6em;
	margin-top: -.2em;
	color: rgba(32, 203, 255, 0.75);
}
.wIcon {
	width: 50%;
	height: 50%;
}