html, body, input, select, textarea {
	font-size: 1.05em !important;
}

body {
	background-color: rgba(2, 43, 92, 0.58);
	background-size: cover;
	background-repeat: none;
}
.container.home a{
	color: white;
}
#map-canvas {
	height: 22em;
	width: 40em;
	border: 2px solid white;	
	margin-bottom: 3em;
}
#heading {
	background-color: rgba(255, 255, 249, 0.45);
	border: none;
}

#heading a {
	color: white;
	font-size: 1.25em;
}

#heading a:hover {
	color: rgb(40, 40, 40); 
}
.forecast.temp {
	background-color: white;
}
.left {
	float: left;
}

.right {
	float: right;
}

.left.temp {
	font-size: 3.5em;
	margin-left: .5em;
	margin-right: 1em;
	color: (0, 0, 0, 0.25) !important;
}
.left.temp span {
	color: rgba(32, 203, 255, 0.42);
}
#sub {
	font-size: .2em;
	margin-top: -.7em;
	color: rgb(255, 72, 97);
}
.caption h3 {
	font-size: 2.5em;
	color: rgba(32, 203, 255, 0.42);
}
.caption h3 p {
	font-size: .6em;
	margin-top: -.2em;
	color: rgba(32, 203, 255, 0.75);
}
.wIcon {
	width: 50%;
	height: 50%;
}
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}