<a href="#/">Back to search</a>
<h2>
Forecast for {{ forecastCtrl.city }}

</h2>
<center><city-map id="map-canvas"></city-map></center>
<hr />
Days<a class="results" ng-repeat="duration in forecastCtrl.options" href="#/forecast/{{duration}}">: {{ duration }} </a>  


<hr />


<section ng-repeat="w in forecastCtrl.weatherResult.list">
	<div class="col">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img class="wIcon" src="imgs/{{forecastCtrl.getIcon(w.weather[0].icon)}}" />
				<!-- {{ typeof "w.weather[0].icon "}} -->
				
				 <div class="caption">

						<h2 class="left temp">
							{{ forecastCtrl.convertToFahrenheit(w.temp.day) }}<span>&deg;</span>
							<p id="sub">{{ w.weather[0].description }}</p>
						</h2>
					<h3>
						{{ forecastCtrl.formatDate(w.dt) | date:'dd' }}
						<p>{{ forecastCtrl.formatDate(w.dt) | date: 'EEE' }}</p>
					</h3> 
				</div>
				</div>				
			</div>
	</div>
</section>