<a href="#/">Back to search</a>
<h2>
Forecast for {{ city }}

</h2>
<hr />
Days<a ng-repeat="duration in forecastOptions" href="#/forecast/{{duration}}">: {{ duration }} </a>  


<!-- TODO: -->

<!-- Add weather images from api -->
<hr />
<!-- <div>
	
	{{ sampleChart }}
</div> -->

<section ng-repeat="w in weatherResult.list">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				
				<div class="caption">
					<h3>
						{{ formatDate(w.dt) | date: format : timezone }}
					</h3>
					<p>Daytime temperature: {{ convertToFahrenheit(w.temp.day) }}<span>&deg;</span></p>
				</div>				
			</div>
	</div>
</section>