<a href="#/">Back to search</a>
<h2>
Forecast for {{ this.city }}

</h2>
<hr />
Days<a ng-repeat="duration in forecast.options" href="#/forecast/{{duration}}">: {{ duration }} </a>  


<!-- TODO: -->

<!-- Add weather images from api -->
<hr />
<!-- <div>
	
	{{ sampleChart }}
</div> -->

<!-- <section id="map-canvas">

</section>
 -->
<section ng-repeat="w in forecast.weatherResult.list">
	<div class="col">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="http://openweathermap.org/img/w/{{w.weather[0].icon}}" />
				<div class="caption">
					<h3>
						{{ forecast.formatDate(w.dt) | date: format : timezone }}
					</h3>
					<p>Day: {{ forecast.convertToFahrenheit(w.temp.day) }}<span>&deg;</span></p>
					<p>Night: {{ forecast.convertToFahrenheit(w.temp.eve) }}<span>&deg;</span></p>
					<p>{{ w.weather[0].description }}</p>
				</div>				
			</div>
	</div>
</section>